@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scrollableContainer {
  overflow: auto; /* Enable scrolling */
}

/* Customize the scrollbar for the specific element */
::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
  height: 4px; 
  padding-top: 2px;
}

/* Customize the scrollbar thumb for the specific element */
::-webkit-scrollbar-thumb {
  background-color: #027A48; /* Color of the thumb */
  border-radius: 6px; /* Rounded corners */
}
.custom-head {
  background-color: red !important;
}

/* Tooltip styles */
.custom-tooltip {
  background-color: black !important;
  color: white !important;
  font-size: 0.75rem !important;
}

.custom-tooltip-arrow {
  color: black !important;
}

.DataGrid-containerBackground {
  background-color: gray !important ;
}
.css-dcten4 {
 
   --unstable_DataGrid-radius: 10px 10px 0px 0px;
   --DataGrid-containerBackground:'#EAECF0' !important 
}

.MuiDataGrid-container--top{
  background-color: '#EAECF0' !important;
}